<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quora</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1 class="header">Quora Posts</h1>
    <p style="text-align: center; margin: 40px 40px">
      <a href="/posts/new">Create a post</a>
    </p>
    <% for ( post of posts) { %>
    <div class="post">
      <h3><%= post.name %></h3>
      <p><%= post.content %></p>
      <a href="http://localhost:8080/posts/<%=post.id%>">Details</a>
      <br />
      <a href="http://localhost:8080/posts/<%=post.id%>/edit">Edit</a>
      <br />

      <form method="post" action="/posts/<%=post.id%>/delete?_method=DELETE">
        <button>Delete</button>
      </form>
    </div>
    <% } %>
  </body>
</html>
